.pass_show {
    position: relative
}

.pass_show .ptxt {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    color: #f36c01;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}

.pass_show .ptxt:hover {
    color: #333333;
}

.main-container2 {
    margin-top: 50px;
    padding: 30px;
    border: 1px solid lightgrey;
}

.main-container2 h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.main-container2 button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #613FE5;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#error-message {
    color: red;
    display: none;
}