@import url('variables.css');

.welcome-container{
    max-width: 1310px;
}
.welcome-left-container{
    width: 60%;
}
.welcome-left-container h1{
    font-family: 'Rubik', sans-serif;
    font-size: 65px;
    line-height: 75px;
}
.welcome-left-container span{
    color: var(--main-color);
}
.welcome-left-container p {
    margin-top: 30px;
    color: var(--grey-text);
}
.welcome-right-container{
    right: 0;
    bottom: 0;
    height: 90%;
}
.welcome-right-container img{
    height: 100%;
}
.mt-100{
    margin-top: 100px;
}
.purpleText{
    color: var(--main-color);
}
.site-tutorial h2{
    color: black;
    font-size: 40px;
    line-height: 49px;
}
.site-tutorial .tutorial-header{
    width: 100%;
    max-width: 850px;
}
.site-tutorial .description{
    font-weight: normal;
    color: var(--grey-text);
}