@import url('variables.css');
.navigation-container{
    padding: 20px;
    max-width: 1800px;
}
.navigation-main{
    display: flex;
}
.header-logo-container img{
    width: 70px;
    height: 70px;
}
.navigation-main a{
    text-decoration: none;
    font-size: 16px;
    color: var(--black-color);
    transition-duration: .3s;
}
.navigation-main a:hover{
    color: var(--main-color);
}
.actions-container{
    display: flex;
}
.actions-container a{
    color: var(--main-color);
}
.login-register-button{
    background-color: var(--background-light);
    color: var(--main-color);
}
.add-job-button{
    background-color: var(--main-color);
}
.welcome-main-container2{
    width: 100%;
    background: linear-gradient(to right bottom, #F2F5FB, #F3F6FB);
}




.mobile-menu-background{
    background-color: var(--background-color);
    display: none;
}
.mobile-menu-background.active{
    display: block;
}

.mobile-menu-header{
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}
.mobile-menu-header img{
    width: 50px;
}
.mobile-menu-close-container img{
    width: 30px;
    cursor: pointer;
}
.mobile-menu-main{
    padding-top: 20px;
} 
.mobile-menu-main a, p{
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.mobile-menu-item{
    transition-duration: .3s;
}
.mobile-menu-item div{
    padding: 15px 20px;
}
.mobile-menu-item:hover{
    background-color: var(--main-color-hover);
}
.mobile-menu-add-job{
    margin-top: 20px;
    padding: 20px
}
.mobile-menu-add-job button{
    padding: 15px;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.mobile-menu-about{
    padding: 0px 20px;
}
.mobile-menu-about p{
    font-size: 14px;
    color: var(--grey-color);
}


.mobile-menu-container{
    max-width: 330px;
}
.mobile-menu-container.show{
    left: -330px;
    animation: showMobileMenu .3s ease-in-out forwards;
}
.mobile-menu-container.hide{
    left: 0px;
    animation: hideMobileMenu .3s ease-in-out forwards;
}

/* ANIMACIJE */
@keyframes showMobileMenu {
    0%{
        left: -330px;
    }100%{
        left: 0px;
    }
}
@keyframes hideMobileMenu {
    0%{
        left: 0px;
    }100%{
        left: -330px;
    }
}

.mobile-menu-actions{
    display: none;
}
.mobile-menu-actions img{
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.site-name{
    display: none;
}



/* RESPONSIVE */

@media only screen and (max-width: 640px) {
    .site-name{
        display: none;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1500px) {
    .navigation-main {
        display: none;
    }
    .actions-container{
        display: none;
    }
    .mobile-menu-actions{
        display: flex;
    }
    .site-name{
        display: block;
    }
}
