@import url('variables.css');

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.pagination li a:hover {
    background-color: #f4f4f4;
}

.pagination li.active span {
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
}

.pagination li.disabled span {
    color: #ccc;
}